
.tableX th,
.tableX td {
  padding: 8px; /* Réduire légèrement le padding */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tableX {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  box-sizing: border-box; /* Assurez-vous d'inclure padding et bordure dans la largeur totale */
}

  
  .consultationF {
  
    width: 100%; /* Assurez-vous qu'il utilise 100% de la largeur */
    box-sizing: border-box; /* Pour inclure le padding et la bordure dans la largeur totale */
  }
  

  .tableX th, .tableX td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .tableX tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  @media (max-width: 768px) {
    .tableX {
        width: calc(100% - 16px); /* Ajustez la largeur pour tenir compte des paddings ou marges */
      }
  
    .filtrage {
      padding: 1rem;  /* Réduit le padding pour les petits écrans */
    }
    .form-control {
      padding: 0.5rem;  /* Réduit le padding des champs de formulaire */
      font-size: 0.9rem;  /* Réduit la taille de la police */
    }
    .mt-2 {
      margin-top: 0.5rem;  /* Réduit la marge supérieure pour les petits écrans */
    }
    .m-1 {
      margin: 0.25rem;  /* Réduit la marge pour les petits écrans */
    }
  
   
  
    .tableX th:nth-child(2){
      width: 8px !important;
    }
  
    .tableX {
      display: block; /* Utilise le défilement horizontal */
  
      white-space: nowrap;
    /* Empêche le retour à la ligne dans les cellules */
    }
   
  
    .tableX td:nth-child(1),
    .tableX th:nth-child(1),
    .tableX th:nth-child(6), 
    .tableX td:nth-child(6),
    .tableX th:nth-child(4), 
    .tableX td:nth-child(4),
    .tableX th:nth-child(5), 
    .tableX td:nth-child(5),
    .tableX th:nth-child(7), 
    .tableX td:nth-child(7) {
      display: none; /* Masque les colonnes 2, 3, 4, 5 et 8 */
    }
  
    .tableX th, 
    .tableX td {
      min-width: 10px !important; /* Largeur minimale pour les colonnes sur mobile */
      font-size: 5px; /* Taille de police ajustée pour mobile */
    }
  
    .tableX tr:nth-child(even) {
      background-color: #f9f9f9; /* Conserve le style de fond pour les lignes paires */
    }
  
    h6 {
      font-size: 1.2rem; /* Ajustement de la taille des titres pour mobile */
    }

  }
  