.ajoutPersonnel{
    height: 90vh;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.294);
}
.mini-stat{
    height: 90vh;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.294);
    margin-right: 1%;
}
.ajoutPersonnel form label{
    font-size: 0.8em;
}
.ajoutPersonnel form button{
    width: 100%;
}
.perso{
    height: 10vh;
    width: 25%;
    border-radius: 5px;
    background: rgb(81,173,110);
    background: linear-gradient(90deg, rgb(81, 173, 173) 50%, rgb(56, 114, 127) 100%); 
    box-shadow: 0 0 5px gray;
}
.mini{
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.464);
    border-radius: 5px;
}
.filtrage{
    box-shadow: 0 0 3px rgba(128, 128, 128, 0.464);
    border-radius: 5px;
}
.list{
    height: 45vh;
    width: 100%;
    overflow-y: scroll;
}
.list table{
    font-size: 0.8em;
}

/* Modal centré */
.custom-modal .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  
  /* Carte de personnel */
  .user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .photo-container {
    margin-bottom: 20px;
  }
  
  .user-photo {
    width: 150px;  /* Taille carrée */
    height: 150px;
    object-fit: cover;  /* Assure que l'image est recadrée et remplie */
    border-radius: 50%;  /* Rendre l'image ronde */
    border: 3px solid #007bff; /* Bordure autour de l'image */
  }
  
  .user-info {
    margin-top: 10px;
  }
  
  .user-info p {
    margin: 5px 0;
    font-size: 1.1rem;
  }

