/* Histov.css */

.scrollable-container {
  width: 100%;              /* S'assurer que le conteneur utilise toute la largeur */
  overflow-x: auto;         /* Permet le défilement horizontal */
  overflow-y: auto;         /* Permet le défilement vertical */
  height: 600px;            /* Hauteur fixe pour permettre le défilement vertical */
  margin-top: 10px;         /* Espace au-dessus du tableau */
  border: 1px solid #ddd;   /* Bordure légère autour du conteneur */
  border-radius: 8px;       /* Coins arrondis */
  background-color: #fff;   /* Fond blanc */
}

.table-striped {
  min-width: 900px;         /* Largeur minimale pour le tableau, peut être ajustée */
  border-collapse: collapse; /* Fusionner les bordures */
}

.table-striped th,
.table-striped td {
  padding: 10px;            /* Espacement interne des cellules */
  border: 1px solid #ddd;   /* Bordure légère */
  text-align: left;         /* Alignement à gauche */
}
.filters .row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacement entre les filtres */
}

.filters .col-md-4 {
  flex: 1; /* Permet un alignement fluide */
  min-width: 220px; /* Assure que les filtres ne deviennent pas trop petits */
}

.filters label {
  display: flex;
  flex-direction: column;
}
.custom-checkbox {
  width: 20px; /* Taille de la case à cocher */
  height: 20px; /* Taille de la case à cocher */
  border-radius: 0; /* Supprime les coins arrondis pour rendre la case carrée */
  border: 2px solid #000; /* Bordure noire pour la case */
}

/* Lorsque la case est cochée */
.custom-checkbox:checked {
  background-color: #007bff; /* Couleur de fond lorsque la case est cochée */
  border-color: #007bff; /* Bordure de la case cochée */
}

/* Media query pour grands écrans : garde la taille de la case inchangée */
@media (min-width: 768px) {
  .custom-checkbox {
    width: 20px ; /* Taille fixe pour les grands écrans */
    height: 20px;
 /* Taille fixe pour les grands écrans */
  }
}

/* Media query pour petits écrans : aucune modification de taille */
@media (max-width: 768px) {
  .custom-checkbox {
    width: 20px !important; /* Taille fixe pour les petits écrans aussi */
    height: 20px;
     /* Taille fixe pour les petits écrans aussi */
  }
}
