.filter-container {
  display: flex; /* Utilise flexbox pour aligner les filtres */
  gap: 20px; /* Espace entre les filtres */
  flex-wrap: wrap; /* Permet le retour à la ligne si nécessaire */
}

.filter-container label {
  display: flex;
  flex-direction: column; /* Aligne le texte et le select/input en colonne */
  flex: 1; /* Permet aux filtres de prendre une largeur égale */
}

.form-select, .form-control {
  margin-top: 5px; /* Espace au-dessus du champ de sélection et du champ de saisie */
}

.tableZA {
  width: 100%; /* Prend toute la largeur de son conteneur */
  border-collapse: collapse; /* Supprime l'espace entre les cellules */
  margin-top: 20px; /* Espace au-dessus du tableau */
}

.tableZA th, .tableZA td {
  padding: 12px; /* Ajoute du padding pour les cellules */
  text-align: left; /* Aligne le texte à gauche */
}

.tableZA th {
  background-color: #3477b9; /* Couleur de fond pour l'en-tête du tableau */
  font-weight: bold; /* Met le texte en gras */
}

.tableZA tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Couleur de fond pour les lignes paires */
}

.tableZA tbody tr:hover {
  background-color: #e2e6ea; /* Couleur de fond au survol */
}