.heure {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f7f7f7;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  background: linear-gradient(45deg, #ff0066, #ff6600, #33cc33, #0099ff);
  background-size: 400% 400%;
  animation: gradientBG 6s ease infinite;
  border-radius: 5px;
  display: inline-block;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.heure:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}

/* CSS général pour la barre de navigation */
.navbar {
  padding: 10px 5%; /* Ajuster le padding pour de petites tailles d'écran */
}

/* Styles pour l'élément heure */
.heure {
  font-size: 1.2rem; /* Réduire la taille de la police */
  padding: 5px;
}

/* Styles pour les icônes */
.notification-icon i {
  font-size: 1.5rem; /* Réduire la taille de l'icône */
}

.navbar-nav {
  flex-direction: row; /* S'assurer que les éléments sont en ligne */
  align-items: center; /* Aligner les éléments au centre */
}

/* Media query pour les écrans de moins de 430px */
@media (max-width: 430px) {
  .navbar {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .navbar-nav {
    flex-direction: column; /* Aligner verticalement */
    width: 100%; /* Prendre toute la largeur */
  }

  .nav-item {
    width: 100%; /* Prendre toute la largeur de la nav */
    text-align: left; /* Alignement à gauche */
  }

  .heure {
    font-size: 1rem; /* Réduire la taille de la police pour l'heure */
    margin: 5px 0; /* Ajout d'une marge */
  }

  .navbar-toggler {
    margin-left: auto; /* Alignement du bouton de menu à droite */
  }
}
