@media (max-width: 768px) {
  input,
  select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  } 
  .new{
    font-size: 0.9em;
  }

  button {
    max-width: 200px;
  }
  .filter div {
    width: 100% !important;
  }
  .filter {
    width: 100% !important;
    display: block !important;
  }
}

.custom-button {
  width: 120px; /* Définissez la largeur souhaitée */
}
.filter {
  width: 100%;
  display: inline-flex;
  background-color: aliceblue;
  box-shadow: 0 0 3px gray;
}
.filter div {
  width: 100%;
}

.his{
  box-shadow: 0 0 3px gray !important;
  background-color: aquamarine ;
  border-radius: 10px;
}