@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(247,247,247);
background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(199, 199, 199) 100%);
overflow: hidden;
}
.center{
  justify-content: center;
  align-items: center;
  display: flex;

}

.hr{
  height: 1vh;
  background-color: rgba(223, 221, 205, 0.475);
  margin-top: 2vh;
  border-radius: 10px;
}

/* Squellete css */


.contenue{
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  align-items: center;
  
}

